<div contentEditable="true">
    <h1>Digital Millennium Copyright Act - DMCA Takedown Notice </h1>
    <p> UWO Draft Your Schedule respects the property rights of others. As part of the DMCA, UWO Draft Your Schedule will take serious response to claims of copyright infringment. Upon notice of the alleged copyright infringement, UWO Draft Your Schedule
        will take whatever steps needed to remove the alleged infringing materials.</p>
    <p>If your intellectual property has been violated by UWO Draft Your Schedule, please reach out to the site manager and we will be in connact with you</p>
</div>