<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <i class="fas fa-user"></i>User Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">
                            <i class="fas fa-user"></i>TimeTable Creator
                            <span class="redirect" routerLink="/timetable-creator"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User Profile</h1>
                </div>

                <div class="row" *ngIf="authService.userData as user">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                                <p>User ID: <strong>{{user.uid}}</strong></p>
                                <p>Email: <strong>{{user.email}}</strong></p>
                                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <br>
        <div class="redirectToTimetable">
            <span>To Create a Timetable<span class="redirect" routerLink="/timetable">Create Timetable</span></span>
        </div>
        <br>
        <div class="redirectToTimetable">
            <span>Enter A Course Review<span class="redirect" routerLink="/review/addReview">Review</span></span>
        </div>
        <div *ngIf="authService.userData as user">
            <div *ngIf="check(user)">
                <div class="redirectToTimetable">
                    <span>Admin Panel <span class="redirect" routerLink="/admin">Admin</span></span>
                </div>
                <div class="redirectToTimetable">
                    <span>AUP<span class="redirect" routerLink="/aup">Review</span></span>
                </div>
                <div class="redirectToTimetable">
                    <span>DMCA<span class="redirect" routerLink="/dmca">Review</span></span>
                </div>
                <div class="redirectToTimetable">
                    <span>S and C<span class="redirect" routerLink="/s-and-c">Review</span></span>
                </div>
            </div>
        </div>

    </div>
</div>