<h1>Acceptable Use Policy</h1>
<div contentEditable="true">
    <h2>This page will highligh tthe Acceptable Use Policy given to the users of UWO Draft My Schedule</h2>
    <p>1. Keep passwords secure and do not share accounts. Authorized users have certain privileges that non-authorized user do no have access to. Sharing passwords might result in lost or altered data</p>
    <p>2. Ensure devices used to access UWO Draft My Schedule are secure and are not open to the general public. If thats is the case make sure to log off to ensure all user information is protected</p>
    <p>3. Inappropriate use of UWO Draft My Schedule will result in termination of the account.</p>
</div>