<div>
    <h3>Create Timetable</h3>
    <div [hidden]="submitted" style="width: 300px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Schedule Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="timetable.name" name="name">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTimetable()">Add</button>
    </div>
</div>
<form (ngSubmit)="addToTimetable(f)" #f="ngForm">
    <div>
        <label for="editSchedule">Create Schedule</label>
        <div>

            <br> Schedule Name: <input type="text" id="scheduleName" name="scheduleName" ngModel required>
            <br> Subject Code: <input type="text" id="subjectCodeEntry" name="sc" ngModel required>
            <br> Course Code: <input type="text" id="courseCodeEntry" name="cc" ngModel required>
            <button type="submit">Submit </button>
        </div>
    </div>
</form>

<!-- <div>
    <div *ngIf="timetable"></div>
    <div>
        <label>First Name: </label> {{timetable.name}}
    </div>

    <div>
        <label>Active: </label> {{timetable.active}}
    </div>

    <span class="button is-small btn-primary" *ngIf='timetable.active' (click)='updateActive(false)'>Inactive</span>

    <span class="button is-small btn-primary" *ngIf='!timetable.active' (click)='updateActive(true)'>Active</span>

    <span class="button is-small btn-danger" (click)='deleteTimetable()'>Delete</span>

    <hr/>
</div> -->
<!-- <div>
    <h1>Timetables</h1>
    <div *ngFor="let timetable of timetables" style="width: 300px;">
        <app-customer-details [timetable]='timetable'></app-customer-details>
    </div>
    <div style="margin-top:20px;">
    <button type="button" class="button btn-danger" (click)='deleteTimetable()'>Delete All</button>
</div>
</div> -->