<div contentEditable="true">
    <h1>Security and Privacy Policy </h1>
    <p> Within this Privacy Policy, all information regarded data collected from the user, the reasoning behind the collection of data, ways this data will be used, who will have access to this data as well as what will occur in the event of a takeover till
        be disscussed on this page</p>
    <h3>Collected Information</h3>
    <p>All information collected from the user such as the users, username, email, passwrod, and timetable will be stored. If the user decided to login using Google, the login credentials will also be collected and stored </p>
    <br>
    <h3>Reasoning For Collecting Data</h3>
    <p>All information stored is to generate user accounts and authenticate them in the future. This will allow the user to access saved work that will be stored in association with their account</p>
    <br>
    <h3>Use of Data</h3>
    <p>All data collected from the user is to inhance user experience. Login credentials are stored so users can access information within their account </p>
    <br>
    <h3>How this Information is Stored</h3>
    <p>All user credentials is stored within a Google Firebase. All information regarding the users time table is stored locally within the system</p>
    <br>
    <h3>Who has access to this information</h3>
    <p>The only individuals that have access to this information are the Site Manager, as well as Google and Firebase
    </p>
    <br>
    <h3>In the case of takeover</h3>
    <p>In the case of takeover, a new privacy policy might be created and in that case it will be sent out the all users
    </p>
</div>