<div class="redirectToAdd">
    <span class="btn btn-primary active" role="button" routerLink="/add">Add Timetable</span>
</div>

<div *ngIf="review">
    <div>
        <label>Course ID: </label> {{review.courseID}}
    </div>
    <div>
        <label>UID: </label> {{review.uid}}
    </div>
    <div>
        <label>Date: </label> {{review.date}}
    </div>
    <div>
        <label>Description: </label> {{review.description}}
    </div>
    <div>
        <label>Viewing Status: </label> {{review.active}}
    </div>

    <span class="button is-small btn-primary" *ngIf='review.active' (click)='updateActive(false)'>Public</span>

    <span class="button is-small btn-primary" *ngIf='!review.active' (click)='updateActive(true)'>Private</span>
    <hr/>
</div>